services:
  - type: web
    name: cambios2
    env: python
    plan: free
    pythonVersion: "3.11.5"
    buildCommand: "pip install -r requirements.txt"
    preDeployCommand: "flask db upgrade" # <-- ESTA LÃNEA ES LA CLAVE
    startCommand: "gunicorn app:app"