services:
  - type: web
    name: cambios2
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    preDeployCommand: "flask db upgrade" # <-- SIMPLIFICAMOS ESTA LÃNEA
    startCommand: "gunicorn app:app"