services:
  - type: web
    name: cambios2
    env: python
    plan: free
    pythonVersion: "3.11.5"
    buildCommand: "pip install -r requirements.txt"
    preDeployCommand: "export FLASK_APP=app.py && flask db upgrade" # <-- LÃNEA MODIFICADA
    startCommand: "gunicorn app:app"